.contact {
  height: 1024px;
  width: 100%;
  border-top: 1px solid var(--gray);
  color: var(--white);
}
.contact-form input{
	width: 100%;
	text-transform: capitalize;
	padding: 5px 10px;
}
.contact-form textarea{
	width: 100%;
	text-transform: capitalize;
	padding: 5px 10px;
}
