.contact {
  height: 1024px;
  width: 100%;
  border-top: 1px solid var(--gray);
  color: var(--white);
}
.contact-form input{
	width: 100%;
	text-transform: capitalize;
	padding: 5px 10px;
	margin-top: 15px;
	background-color: var(--black);
	color: var(--white);
	border: 1px solid var(--gray);
}
.contact-form textarea{
	width: 100%;
	text-transform: capitalize;
	padding: 5px 10px;
	margin-top: 15px;
	background-color: var(--black);
	color: var(--white);
	border: 1px solid var(--gray);
}
.contact-form input[type="submit"]{
	background-color: var(--vang);
	color: var(--black);
	border: 0px;
}